# OS
.DS_Store
Thumbs.db
._*

# Python caches / bytecode
__pycache__/
*.py[cod]

# Virtualenvs / env files
.env
.venv
env/
venv/

# Editor / IDE
.vscode/
.idea/
*.swp
*~

# Jupyter
.ipynb_checkpoints

# Data / artifacts
*.pdb.gz
*.log
*.bak

# Example PDBs, 
# examples/*.pdb


